<div id="chat-container">
  <h1>Gemini Language ChatBot</h1>
  <div id="chat-history"></div>
  <form id="chat-form">
    <input type="text" id="user-input" placeholder="Enter your message">
    <button type="submit">Send</button>
  </form>
</div>
<div id="loader">
  <img src="/images/loader.gif" width="150px" alt="Loading...">
</div>
  <script src="/js/chatScript.js">  </script>